{
  "openapi": "3.0.0",
  "info": {
    "title": "Adobe Campaign Standard REST API requests",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://mc.adobe.io/{ORGANIZATION}/campaign",
      "variables": {
        "ORGANIZATION": {
          "default": "TODO_ORGANIZATION_NOT_SPECIFIED",
          "description": "the organization identifier"
        }
      }
    }
  ],
  "components": {
    "schemas": {
      "WorkflowParameters": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "parameters": {
            "type": "object"
          }
        },
        "required": ["source"]
      },
      "WorkflowCommand": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": ["start", "pause", "resume", "stop"]
          }
        }
      },
      "GDPRRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "reconciliationValue": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["access", "delete"]
          }
        }
      },
      "OrgUnitUpdate": {
        "type": "object",
        "properties": {
          "orgUnit": {
            "type": "object",
            "properties": {
              "PKey": {
                "type": "string"
              }
            },
            "required": ["PKey"]
          }
        },
        "required": ["orgUnit"]
      }
    },
    "requestBodies": {
      "WorkflowParameters": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WorkflowParameters"
            }
          }
        }
      },
      "WorkflowCommand": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WorkflowCommand"
            }
          }
        }
      },
      "GDPRRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GDPRRequest"
            }
          }
        }
      },
      "OrgUnitUpdate": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OrgUnitUpdate"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "parameters": {
      "Filters": {
        "in": "path",
        "schema": {
          "type": "string"
        },
        "name": "FILTERS",
        "required": false
      },
      "LineCount": {
        "in": "query",
        "name": "_lineCount",
        "required": false,
        "schema": {
          "type": "integer"
        }
      },
      "Order": {
        "in": "query",
        "name": "_order",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "Cache-Control": {
        "in": "header",
        "name": "Cache-Control",
        "required": false,
        "schema": {
          "type": "string",
          "default": "no-cache"
        }
      },
      "Content-Type": {
        "in": "header",
        "name": "Content-Type",
        "required": false,
        "schema": {
          "type": "string",
          "default": "application/json;charset=utf-8"
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/profileAndServices/profile/{FILTERS}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Filters"
        },
        {
          "$ref": "#/components/parameters/LineCount"
        },
        {
          "$ref": "#/components/parameters/Order"
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieving all profiles",
        "operationId": "getAllProfiles",
        "tags": ["profile"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Creating a profile",
        "operationId": "createProfile",
        "tags": ["profile"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/profile/{PROFILE_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "name": "PROFILE_PKEY",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "patch": {
        "summary": "Update a profile",
        "operationId": "updateProfile",
        "tags": ["profile"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "summary": "Retrieving the Profile record",
        "operationId": "getProfile",
        "parameters": [],
        "tags": ["profile"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/service/{FILTERS}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Filters"
        },
        {
          "$ref": "#/components/parameters/LineCount"
        },
        {
          "$ref": "#/components/parameters/Order"
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieving all services",
        "operationId": "getAllServices",
        "tags": ["service"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Creating a service",
        "operationId": "createService",
        "tags": ["service"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/service/{SERVICE_PKEY}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieving the service record",
        "operationId": "getService",
        "parameters": [
          {
            "in": "path",
            "name": "SERVICE_PKEY",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["service"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/history/{PROFILE_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "name": "PROFILE_PKEY",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Accessing a Profile's marketing history",
        "description": "",
        "operationId": "getHistoryOfProfile",
        "tags": ["history"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/resourceType/{RESOURCE}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "RESOURCE",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieving the metadata for a resource",
        "operationId": "getMetadataForResource",
        "tags": ["metadata"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/privacy/privacyTool": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Creating a GDPR request",
        "description": "",
        "operationId": "createGDPRRequest",
        "tags": ["gdpr"],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/GDPRRequest"
        }
      },
      "get": {
        "summary": "Get information on a GDPR request",
        "description": "",
        "operationId": "getGDPRRequest",
        "tags": ["gdpr"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/{PRIVACY_REQUEST_DATA_URL}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "PRIVACY_REQUEST_DATA_URL",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Get a GDPR data file",
        "description": "",
        "operationId": "getGDPRDataFile",
        "tags": ["gdpr"],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": ["name"]
              }
            }
          }
        }
      }
    },
    "/mc{ORGANIZATION}/{EVENT_ID}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "ORGANIZATION",
          "required": true
        },
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "EVENT_ID",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Sending a transactional event",
        "operationId": "sendTransactionalEvent",
        "tags": ["messaging"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/mc{ORGANIZATION}/{EVENT_ID}/{EVENT_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "name": "EVENT_PKEY",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "ORGANIZATION",
          "required": true
        },
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "EVENT_ID",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Get a transactional event (event data, event status)",
        "operationId": "getTransactionalEvent",
        "tags": ["messaging"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/workflow/execution/{WORKFLOW_ID}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "WORKFLOW_ID",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Get the workflow record",
        "operationId": "getWorkflow",
        "tags": ["workflow"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/workflow/execution/{WORKFLOW_ID}/commands": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "WORKFLOW_ID",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Control a workflow",
        "operationId": "controlWorkflow",
        "tags": ["workflow"],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/WorkflowCommand"
        }
      }
    },
    "/{TRIGGER_URL}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "TRIGGER_URL",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Trigger a signal activity",
        "operationId": "triggerSignalActivity",
        "tags": ["workflow"],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/WorkflowParameters"
        }
      }
    },
    "/{RELATIVE_URL}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "RELATIVE_URL",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Get data from a relative url",
        "operationId": "getDataFromRelativeUrl",
        "tags": ["util"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServicesExt": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieve all custom resource collections linked to the Profile table",
        "operationId": "getCustomResources",
        "tags": ["metadata"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServicesExt/profile/{PROFILE_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "PROFILE_PKEY",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieving the profile (includes orgUnit URL)",
        "operationId": "getProfileWithOrgUnit",
        "tags": ["organization"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "patch": {
        "summary": "Update the profile's orgUnit",
        "operationId": "updateProfileOrgUnit",
        "parameters": [],
        "tags": ["organization"],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/OrgUnitUpdate"
        }
      }
    },
    "/profileAndServicesExt/orgUnitBase/{ORGUNIT_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "ORGUNIT_PKEY",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "patch": {
        "summary": "Update the orgUnit",
        "operationId": "updateOrgUnit",
        "tags": ["organization"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServicesExt/orgUnitBase/{FILTERS}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Filters"
        },
        {
          "$ref": "#/components/parameters/LineCount"
        },
        {
          "$ref": "#/components/parameters/Order"
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieve all the Org Units",
        "operationId": "getAllOrgUnits",
        "tags": ["organization"],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    }
  }
}
