{
  "openapi": "3.0.0",
  "info": {
    "title": "Adobe Campaign Standard REST API requests",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://mc.adobe.io/{ORGANIZATION}/campaign",
      "variables": {
        "ORGANIZATION": {
          "default": "TODO_ORGANIZATION_NOT_SPECIFIED",
          "description": "the organization identifier"
        }
      }
    }
  ],
  "components": {
    "schemas": {
      "WorkflowCommand": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "start",
              "pause",
              "resume",
              "stop"
            ]
          }
        }
      }
    },
    "requestBodies": {
      "WorkflowCommand": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WorkflowCommand"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "parameters": {
      "Cache-Control": {
        "in": "header",
        "name": "Cache-Control",
        "required": false,
        "schema": {
          "type": "string",
          "default": "no-cache"
        }
      },
      "Content-Type": {
        "in": "header",
        "name": "Content-Type",
        "required": false,
        "schema": {
          "type": "string",
          "default": "application/json;charset=utf-8"
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/profileAndServices/profile/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieving all profiles",
        "operationId": "getAllProfiles",
        "tags": [
          "profile"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Creating a profile",
        "operationId": "createProfile",
        "tags": [
          "profile"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/profile/{PROFILE_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "name": "PROFILE_PKEY",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "patch": {
        "summary": "Update a profile",
        "operationId": "updateProfile",
        "tags": [
          "profile"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "summary": "Retrieving the Profile record",
        "operationId": "getProfile",
        "parameters": [],
        "tags": [
          "profile"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/service/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Creating a service",
        "operationId": "createService",
        "tags": [
          "service"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/service/{SERVICE_PKEY}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieving the service record",
        "operationId": "getService",
        "parameters": [
          {
            "in": "path",
            "name": "SERVICE_PKEY",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "service"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/history/{PROFILE_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "name": "PROFILE_PKEY",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Accessing a Profile's marketing history",
        "description": "",
        "operationId": "getHistoryOfProfile",
        "tags": [
          "history"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServices/resourceType/{RESOURCE}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "RESOURCE",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieving the metadata for a resource",
        "operationId": "getMetadataForResource",
        "tags": [
          "metadata"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/privacy/privacyTool": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Creating a GDPR request",
        "description": "",
        "operationId": "createGDPRRequest",
        "tags": [
          "gdpr"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "get": {
        "summary": "Get information on a GDPR request",
        "description": "",
        "operationId": "getGDPRRequest",
        "tags": [
          "gdpr"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/{PRIVACY_REQUEST_DATA_URL}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Get a GDPR data file",
        "description": "",
        "operationId": "getGDPRDataFile",
        "tags": [
          "gdpr"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [ "name"]
              }
            }
          }
        }

      }
    },
    "/mc{ORGANIZATION}/{EVENT_ID}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "ORGANIZATION",
          "required": true
        },
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "EVENT_ID",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Sending a transactional event",
        "operationId": "sendTransactionalEvent",
        "tags": [
          "messaging"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/mc{ORGANIZATION}/{EVENT_ID}/{EVENT_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "name": "EVENT_PKEY",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "ORGANIZATION",
          "required": true
        },
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "EVENT_ID",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Get a transactional event (event data, event status)",
        "operationId": "getTransactionalEvent",
        "tags": [
          "messaging"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/workflow/execution/{WORKFLOW_ID}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "WORKFLOW_ID",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Get the workflow record",
        "operationId": "getWorkflow",
        "tags": [
          "workflow"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/workflow/execution/{WORKFLOW_ID}/commands": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "WORKFLOW_ID",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Control a workflow",
        "operationId": "controlWorkflow",
        "tags": [
          "workflow"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/WorkflowCommand"
        }
      }
    },
    "/{TRIGGER_URL}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "TRIGGER_URL",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "post": {
        "summary": "Trigger a signal activity",
        "operationId": "triggerSignalActivity",
        "tags": [
          "workflow"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string"
                  },
                  "parameters": {
                    "type": "object"
                  }
                },
                "required": [ "source"]
              }
            }
          }
        }
      }
    },
    "/profileAndServicesExt/profile/{PROFILE_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "PROFILE_PKEY",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "get": {
        "summary": "Retrieving the profile (includes orgUnit URL)",
        "operationId": "getProfileOrgUnit",
        "tags": [
          "organization"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "patch": {
        "summary": "Update the profile's orgUnit",
        "operationId": "updateProfileOrgUnit",
        "parameters": [],
        "tags": [
          "organization"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/profileAndServicesExt/orgUnitBase/{ORGUNIT_PKEY}": {
      "parameters": [
        {
          "in": "path",
          "schema": {
            "type": "string"
          },
          "name": "ORGUNIT_PKEY",
          "required": true
        },
        {
          "$ref": "#/components/parameters/Cache-Control"
        },
        {
          "$ref": "#/components/parameters/Content-Type"
        }
      ],
      "patch": {
        "summary": "Update the orgUnit",
        "operationId": "updateOrgUnit",
        "tags": [
          "organization"
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    }
  }
}